.section-margin {
    margin-top: 5%;
    margin-bottom: 5%;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.title {
    margin-top: 10% !important;
    margin-bottom: 5% !important;
    font-weight: 200 !important;
}

.inputbox {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px !important;
    max-width: 75%;

    font-family: 'Spartan', sans-serif;
    font-size: 12px;

}

.login-form-label {
    margin-right: auto;
    margin-left: 13%;
    font-family: 'Spartan', sans-serif;
    font-size: 12px;
}

.divider {
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
    color: #989898;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.divider:before {
    display: block;
    position: relative;
    content: '';
    background-color: #dddddd;

    width: 30%;
    height: 1px;
    top: 10px;
    left: 12%;
}

.divider:after {
    display: block;
    position: relative;
    content: '';
    background-color: #dddddd;

    width: 30%;
    height: 1px;
    top: -13px;
    right: -60%;
}

.login-button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.login-button{
    margin-top: 20px;
    width: 75%;
}


.login-button:active {
    background-color: #dddddd !important;
}

#sign-up-text {
    font-family: 'Spartan', sans-serif;
    font-size: 12px;
    color: #989898;
    text-align: center;
    margin-top: 10px;
}

#sign-up-link {
    font-family: 'Spartan', sans-serif, ;
    font-size: 12px;
    font-weight: 800;
    color: #547C8F;
    text-decoration: none;
}

#sign-up-link:hover {
    color: wheat;
}

#login-google-btn {
    width: 75%;
    margin-bottom: 10%;
}

#login-google-txt {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
    margin-top:12px;
    margin-left: 20px;
    text-align: center;
}
