

.brand-logo-wrapper {
    display: inline-flex;
    flex-direction: row;
    width: 30%;
}

.brand-logo-img {
    max-width: 30px;
    max-height: 30px;
    margin-top: 7px;
    -webkit-transform:rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);
}

.brand-logo-text {
    font-size: 35px;
    font-family: 'Amatic SC', cursive;
    color: #A6CC9F;
}

.brand-logo-text:hover {
    text-decoration: none;
    color:  #A6CC9F;
}

.page {
    background-color: #F7E9D4;
    background-size: cover;
    margin-bottom: 0px;
    border: 60px solid transparent;
}
.logo-container {
    display: inline-flex;
    text-align: center;
    margin-right: 25%;
}
#logo-font {
    font-family: 'Amatic SC', cursive;
    color: #A6CC9F;
    font-size: 220px;
}
#logo {
    max-width: 220px;
    max-height: 220px;
    margin-top: 20px;
    margin-right: 0px;
    -webkit-transform:rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);
}
#button {
    width: 50%;
    margin-left: 25%;
    margin-top: 30px;
}
#attribution {
    text-align: center;
    margin-top:10%;
    font-size: 10px;
}

.section-margin {
    margin-top: 10%;
    margin-bottom: 10%;
}

#card-title {
    font-size: 20px;
    font-family: 'Spartan', sans-serif;
    color: #A6CC9F;
    text-align: center;
    margin-top: 15px;
}

.landing-form-group {
    position: relative;
}

#landing-form-label {
    font-family: 'Spartan', sans-serif;
    font-size: 12px;
    margin-right: auto;
    margin-left: 12%;
    display: flex;
    align-items: right;
    justify-content: right;
    width: 75%;
    
}

.landing-form-input {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    max-width: 75%;

}

.icon {
    margin-top: 1em;
    display: flex;
    align-items: center -webkit-center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    color: #A9C1CC;
}

.landing-submit-btn {
    width: 65% !important;
    height: auto;
    margin-left: auto !important;
    margin-right: auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
