.tab-wrapper {
    position: relative;
    margin-right: auto;
    margin-left: auto;

    margin-top: 2%;
    margin-bottom: 5%;
    max-width: 500px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;

    border: 2px solid lightgray;
    border-radius: 5px;
}

/* progress bar */
.progressbar-container {
    width: 100%;
}

.progressbar li {
    list-style-type: none;
    float: left;
}

.progressbar li:before {
    content: '';
    counter-increment: step;
    width: 20px;
    height: 20px;
    line-height: 30px;
    border: 2px solid #A6CC9F;
    display: block;
    text-align: center;
    margin: 0 auto 5px auto;
    border-radius: 50%;
    background-color: white;
}

.progressbar li:after {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ddd;
    top: -55px;
    left: -50%;
    z-index: -1;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li.visited:before {
    background-color: #A6CC9F;
    border-color: #A6CC9F;
}

.progressbar li.visited + li:after {
    background-color: #A6CC9F;
}

.nav-link {
    color: #ddd;
}
.nav-link:active, .nav-link:focus {
    border: none;
    outline: 0;
}

.nav-link:hover {
    color: wheat;
}
.nav-link.active {
    color: #547C8F;
}

/* text */
.title {
    margin-top: 20px;
    font-size: 20px;
    font-family:'Spartan', sans-serif;
}

.title-header {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 40px;
    font-family:'Spartan', sans-serif;
}


/* buttons */
#button {
    max-width: 100% !important;
}

#two-button-group {
    position: absolute;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    right: 5%;
    bottom: 1%;
    width: 95%;
    height: auto;
}

#one-button-group {
    position: absolute;
    right: 5%;
    bottom: 5px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

/* checkbox */
.custom-control-input:checked ~ .custom-control-label::before{
    background-color: #547C8F;
    border-color: #547C8F;
}


.tab-pane {
    min-height: 465px;
}

/* forms */
.reg-diet-lifestyle-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 150px;
    width: auto;
}

.reg-diet-restrict-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 150px;
    width: auto;
}

label {
    padding-top: 3px;
}

/* registration error */
#reg-error {
    margin-top: 25%;
    text-align: center;
    color: red;
}
