@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Karla|Lato|Montserrat|Raleway|Roboto|Spartan&display=swap');

/* navigation */
.NavBarText {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    padding: 10px;
    color: #A6CC9F;
    font-size: 80px;
}
.NavBarText:hover {
    color: wheat;
    text-decoration: none;
}

/* font styling */
.HeaderFont {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    padding: 10px;
    color: #A6CC9F;
    font-size: 220px;
}

.SubheaderFont{
    font-family:'Spartan', sans-serif;
    font-weight: 700;
    color: #A6CC9F;
    text-align: center;
    
}

.BodyFontB{ 
    font-size: 12px;;
    font-family:'Spartan', sans-serif;
    font-weight: 500;
}

.BodyFont {
    font-family:'Spartan', sans-serif;
}

.BodyFontC{
    font-family: 'Spartan', sans-serif;
    font-size: 20px;
    text-align: center;
}

.BodyFontD{
    font-family: 'Spartan', sans-serif;
    font-size: 12px;
    line-height: 2;
}

.BodyFontE{
    font-family: 'Spartan', sans-serif;
    font-size: 12px;
    line-height: 1.5;
}

/* container alignments */
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}

.main{
    margin-top: 5%;
    width: 50%;
}

.page {
    background-color: #F7E9D4;
    background-size: cover;
    margin-bottom: 0px;
    border: 60px solid transparent;
}


/* boot strap buttons */
.btn.btn-primary:hover {
    background-color: #A9C1CC;
}
.btn:active {
    background-color: #A9C1CC !important;
    outline: thin;
    outline-color: #A6CC9F;
}
