/* card header */
.settings-toggle-header {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

#settings-toggle-icon {
    color: #dddddd;
    font-size: 12px;
    margin-top: 5px;
}

/* card wrapper */
.settings-card-first {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
}

.settings-card {
    border-radius: 0;
    border-bottom: none;
}

.settings-card-last {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Title and directions */
#settings-title {
    font-family:'Spartan', sans-serif;
    font-size: 20px;
}

#settings-directions {
    font-family:'Spartan', sans-serif;
    font-size: 15px;
}


/* forms */
.settings-diet-lifestyle-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 150px;
    width: auto;
}

.settings-diet-restrict-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 150px;
    width: auto;
}

/* button wrapper */
.settings-button-wrapper {
    display: inline-flex;
    justify-content: space-between;
    margin-top: 5%;
    width: 100%;
}

#settings-btn {
    width: 150px;
    height: auto;
}


/* Favorites */
.favorites-card {
    width: 100%;
    margin-bottom: 5%;
}

#fav-title {
    margin-bottom: 5%;
}
