.card-text {
    margin-top: 5px;
    font-size: 12px;
    color: green;
}

.card-footer {
    font-size: 10px;
    border: 0px;
    background-color: transparent;
}

.tag-wrapper {
    display: flex;
    flex-wrap: wrap;
    
}

.tag-item {
    color: wheat;
    background-color: #547C8F;
    border-style: solid;
    border-width: 3px;
    border-color:#547C8F;
    border-radius: 8px;
    padding-left: 2px;
    padding-right: 2px;
    margin: 1px;
    overflow-wrap: break-word;
}